.animation1 {
    width: 80px;
    height: 50px;
    position: relative;
    animation-name: example;
    animation-duration: 4s;
  }


@keyframes example {
  0%   {left: 0px; top: 0px;}
  100% {left: 1000px; top: 0px;}
  }

.animation2 {
    width: 80px;
    height: 50px;
    position: relative;
    animation-name: example1;
    animation-duration: 4s;
  }


@keyframes example1 {
  100% {left: 0px; top:0px;}
  0%   {left: 1000px; top:0px;}
}




